.workers{
    display: grid;!important;
}
.all_projects{
    width:350px;
    height:220px;
    border: 1px solid #1b6d85;
    padding: 5px;
    display: inline-table;
    color: #1b6d85;
}
.all_projects:hover{
    color: #2aabd2;
    border: 1px solid #2aabd2;
}
.adding_project_button{
    background-color: #1b6d85;
    font-size: 130%;
    width:10%;
    position: fixed;
    left:2px;
    top:40%
}
.adding_project_button_a{
    text-decoration: none;
    color: whitesmoke;
}

.adding_project_button:hover{
    color:navajowhite;
}
.projs{
    color: dimgrey;
    font-size: 115%;
    text-decoration: none;
}
.projs:hover{
    text-decoration: none;
}
.project_datas, .project_datas_header{
    margin:0 0 10px;
    display: block;
    color:#333;
    padding: 9px;
    width:100%;
    float:right;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.42857143;
    font-style: oblique;
}
.header_of_items{
    width:30%;
    height:30px;
    font-size: 125%;
    caption-side: top;
    color:black;
    display: inline-block;
    border-bottom: 3px solid white;
    margin-bottom: 4px;
    padding:5px;
}
.pagination{
    margin: 0 auto;
}
.edit_delit_icon{
    color: #2aabd2;
    margin: 2px;
}
.edit_delit_icon:hover{
    color:deepskyblue;
}
.logo_project{
    width:99%;
}


.project_items{
    display: flex;
    padding:25px;
    border: 1px solid #46b8da;
    border-radius: 4px;
    color:black;
}

.proj_icons{
   display: flex;
    float:right;
    font-size: 150%;
}
.proj_item_colollapse{
    text-align: left;
    width: 100%;
    height:73px;
    margin-bottom: 5px;
    color:whitesmoke;
    font-size: 150%;
    background-color: #2aabd2;
}
.proj_item_colollapse:hover{
    background-color: deepskyblue;
    color:white;
}
.user_img_circle{
    width:60px;
    height:60px;
}
.projects-create{
    width:70%;
    border-radius: 10px;
    padding:15px;
}
.required_asterix {
    color: red;
    font-size: 110%;
}