.report_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.adding_project_button {
    background-color: #101010;
    font-size: 130%;
    width: 10%;
    position: fixed;
    left: 2px;
    top: 40%
}

.adding_project_button_a {
    text-decoration: none;
    color: whitesmoke;
}

.adding_project_button:hover {
    color: navajowhite;
}

.report_td, .report_th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.report_tr:nth-child(even) {
    background-color: #dddddd;
}

.prof_head {
    text-align: center;
    color: black;
}

.user_datas, .user_projects {
    border: 1px solid  #46b8da;
;
    border-radius: 4px;
    padding: 25px;
}

.user_datas, .project_item {
    display: flow-root;
}

.user_data_items > div, .user_projects > div, .project_item > div {
    margin: 0 0 10px;
    display: block;
    color: #333;
    padding: 9px;
    width: 73%;
    float: right;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.42857143;
    font-style: oblique;
}

.prof_image {
    width: 250px;
    min-height: 250px;
    float: left;
    margin-right: 25px;
}

.profile {
    /*border: 1px solid #ccc;*/
    padding: 25px;
    border-radius: 4px;
}

.user_projects > a {
    text-decoration: none;
}

.user_projects {
    display: flex;
}

.user_project_datas {
    font-size: 25px;
    padding: 10px;
    margin: 3px;
    width: 30%;
    display: inline-table;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #46b8da;
    color: #46b8da;
}

.user_project_datas:hover {
    color: #2aabd2;
    border: 1px solid #2aabd2;
}

.project_item {
    border: 1px solid #ccc;
    padding: 25px;
}

.project_datas {
    font-size: 18px;
    width: 50%;
}

.report_added_button {
    display: inline-block;
    border-radius: 4px;
    background-color: #46b8da;
    color: white;
    text-align: center;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.report_added_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.report_added_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.report_added_button:hover span {
    padding-right: 25px;
}

.report_added_button:hover span:after {
    opacity: 1;
    right: 0;
}

.project_title {
    text-align: center;
    color: whitesmoke;
    cursor: default;
    display: flex;
}

.add_report_white{
    float:left;
    width:12%;
    text-align: left;
}

.proj_title{
    width:92%;
    float:right;
    text-align: center;
    font-size: 200%;
    background-color: #46b8da;
}

.form_imput_flex {
    display: flex;
}

.form_imput_items {
    width: 48%;
    margin-right: 5px;
    float: left;
}

.worker_edit_button {
    font-size: 225%;
    float: right;
    margin: -15px;
}

.worker_edit_button:hover {
    color: #46b8da;
}

.required_asterix {
    color: red;
    font-size: 110%;
}

.user_proj_items{
    padding:25px;
    max-height: 300px;
    border: 1px solid black;
    border-radius:4px;
    display: flex;
}

.user_proj_items_logo{
    float:left;
    width:24%;
    display:flex;
}

.table_header_tr{
    color: white;
    background-color: #46b8da;
    font-size: x-large;
}

.forgot_pass_p{
    color:#999;
    margin:1em 0;
    font-size: 90%;
}

.customer_coollapse_div{
   text-align: left;
    width: 100%;
    height:73px;
    margin-bottom: 5px;
    font-size: 150%;
}

.customer_coollapse_img{
   width:60px;
    height:60px;
}

.works_of_proj{
    border-bottom: 2px solid black;
    width:50%
}

.table_fullname{
    color: white;
    background-color: #46b8da;
    font-size: 125%;
}

.rep_add_btn{
    display:inline-block;
    padding: 15px;
    color: #2aabd2;
    font-size: larger;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #2aabd2;
    background-color: white;
}
.rep_add_btn:hover{
    color: whitesmoke;
    background-color: deepskyblue;
    text-decoration: none;
}
.default_page{
    background-image: url("uploads/users/profess.png");
}

.login_button{
    margin-bottom: 12%;
}

.work_upd_pp{
    width:40%;
    float:right;
    margin:10px;
}
